



<div class="row">

  <div class="col-for-sides"></div>

  <div class="col-for-page padding-responsive">

    <mat-card class="task-card">
      <mat-card-header>
        <div mat-card-avatar>

          <cl-image public-id="{{task.dpImgUrl}}">
            <cl-transformation width="40" height="40" gravity="face" radius="100" effect="sepia" crop="thumb">
            </cl-transformation>



          </cl-image>


        </div>
        <mat-card-title>{{task.title}}<br>by <a routerLink="/profile/{{task.uploadedBy}}">{{task.username}}</a></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content">

          <mat-chip-list class="mat-chip-list"  aria-orientation="horizontal" *ngFor="let tag of task.tags">
            <mat-chip color="primary" selected="true">{{tag}}</mat-chip>
          </mat-chip-list>


          <div class="title-options">
            <div class="title-option" id ="fav-star">654 <i class="far fa-star"></i></div>
            <div class="title-option" id ="fav-star"><i class="far fa-star"></i></div>
            <div class="title-option" id ="fav-star"><i class="far fa-star"></i></div>
            <mat-divider></mat-divider>

          </div>



          <mat-spinner class="centered-horizontal"   diameter="30"  *ngIf="loading"></mat-spinner>

          <markdown ngPreserveWhitespaces>{{task.description}}</markdown>



         <div class="task-submit"  routerLink="/task-submit/{{task.id}}">
           <button class="centered-horizontal" mat-raised-button color="accent" *ngIf="loggedIn" routerLink="/task-submit/{{task.id}}">Submit</button>

         </div>

          <!-- <a class="externalAttachment clear"  href="{{solution.externalAttachment}}"> -->
            <!-- <button class="centered-horizontal" mat-raised-button color="accent" *ngIf="loggedIn" routerLink="/task-submit/{{task.id}}">Submit</button> -->

          <!-- </a> -->


          <mat-tab-group class="clear">
            <mat-tab label="Discussions">

              <!-- <div class="discussions" > -->
                <div class="new-comment" *ngIf="loggedIn">

                  <div class="flex-row">
                    <div style="padding:10px;">
                      <mat-form-field  appearance="outline">
                        <mat-label>Write Comment</mat-label>
                        <input matInput [(ngModel)]="newcomment" placeholder="Write some about the task...">
                        <mat-hint>New comment</mat-hint>
                      </mat-form-field>

                    </div>

                      <div style="flex: 0 0 100px;padding:10px auto;margin: auto;align-self: center;">
                        <button class="centered-horizontal" mat-raised-button color="accent" *ngIf="!loading" (click)="addComment()" >Comment</button>
                        <mat-spinner class="centered-horizontal"   diameter="30"  *ngIf="loading"></mat-spinner>

                      </div>

                    </div>


                  </div>

                <div *ngFor="let comment of dicussions">
                  <div class="comment" >
                    <cl-image class="comment-dp" public-id="{{comment.dpImgUrl}}">
                      <cl-transformation width="40" height="40" gravity="face" radius="100" effect="sepia" crop="thumb">
                      </cl-transformation>
                    </cl-image>
                    <a class="comment-username" routerLink="/profile/{{comment.userId}}">{{comment.username}}</a>
                    <br>
                    <div class="comment-body">
                      {{comment.text}}
                    </div>


                    <mat-divider></mat-divider>
                  </div>
                </div>


              <!-- </div> -->



            </mat-tab>
            <mat-tab label="Submissions">

              <div class="list-item-wrapper" *ngFor="let solution of solutions">
                <mat-card class="task-card">
                  <mat-card-header>
                    <div mat-card-avatar>

                      <cl-image public-id="{{solution.dpImgUrl}}">
                        <cl-transformation width="40" height="40" gravity="face" radius="100" crop="thumb">
                        </cl-transformation>



                      </cl-image>


                    </div>
                    <mat-card-title>BY <a routerLink="/profile/{{solution.userId}}">{{solution.username}}</a></mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                      <markdown ngPreserveWhitespaces>{{solution.text}}</markdown>
                      <div class="more-text" >
                        <a routerLink="/task/{{solution.id}}" >View details ></a>

                      </div>
                  </mat-card-content>
                </mat-card>


              </div>



            </mat-tab>
          </mat-tab-group>









        </div>


      </mat-card-content>
    </mat-card>




    <!-- <div class="title">
      <img class="dp" src="{{dpUrl}}"/>

      <div class="title-details">
        <div class="task-title">{{taskTitle}}</div>
        <div class="task-subtitle">Dummy Task</div>


      </div> -->























  </div>
  <app-sidebar class="col-for-sides  only-desktop"></app-sidebar>


</div>
