



<div class="row">

  <div class="col-for-sides"></div>

  <div class="col-for-page padding-responsive">

    <mat-card class="task-card">
      <mat-card-header>
        <div mat-card-avatar>

          <cl-image public-id="{{task.dpImgUrl}}">
            <cl-transformation width="40" height="40" gravity="face" radius="100" effect="sepia" crop="thumb">
            </cl-transformation>



          </cl-image>


        </div>
        <mat-card-title>{{task.title}}<br>by <a routerLink="/profile/{{task.uploadedBy}}">{{task.username}}</a></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content">




          <div class="title-options">
            <div class="title-option" id ="fav-star">654 <i class="far fa-star"></i></div>
            <div class="title-option" id ="fav-star"><i class="far fa-star"></i></div>
            <div class="title-option" id ="fav-star"><i class="far fa-star"></i></div>
            <mat-divider></mat-divider>

          </div>



          <mat-spinner class="centered-horizontal"   diameter="30"  *ngIf="loading"></mat-spinner>

          <markdown ngPreserveWhitespaces>{{task.description}}</markdown>




          <mat-divider></mat-divider>
          <!-- <div class="attachment">



          </div>
 -->

          <mat-tab-group>
            <mat-tab label="Discussions">

              <!-- <div class="discussions" > -->
                <div class="new-comment" *ngIf="loggedIn">

                    <mat-form-field appearance="outline">
                      <mat-label>Write Comment</mat-label>
                      <textarea matInput [(ngModel)]="newcomment" placeholder="Write some about the task..."></textarea>
                      <mat-hint>New comment</mat-hint>
                    </mat-form-field>
                  	<button class="centered-horizontal" mat-raised-button color="accent" *ngIf="!loading" (click)="addComment()" >Submit</button>
                    <mat-spinner class="centered-horizontal"   diameter="30"  *ngIf="loading"></mat-spinner>
                  </div>

                <div *ngFor="let comment of dicussions">
                  <div class="comment" >
                    <cl-image class="comment-dp" public-id="{{comment.dpImgUrl}}">
                      <cl-transformation width="40" height="40" gravity="face" radius="100" effect="sepia" crop="thumb">
                      </cl-transformation>
                    </cl-image>
                    <a class="comment-username" routerLink="/profile/{{comment.userId}}">{{task.username}}</a>
                    <br>
                    <div class="comment-body">
                      {{comment.text}}
                    </div>


                    <mat-divider></mat-divider>
                  </div>
                </div>


              <!-- </div> -->



            </mat-tab>
            <mat-tab label="Submissions">
              <h3>Some more tab content</h3>
              <p>...</p>




            </mat-tab>
          </mat-tab-group>









        </div>


      </mat-card-content>
    </mat-card>




    <!-- <div class="title">
      <img class="dp" src="{{dpUrl}}"/>

      <div class="title-details">
        <div class="task-title">{{taskTitle}}</div>
        <div class="task-subtitle">Dummy Task</div>


      </div> -->























  </div>

  <div class="col-for-sides"></div>


</div>
