

<div class="row">

  <div class="col-for-sides "></div>

  <div class="col-for-page padding-responsive">



  	<div class="row">
  			<p>Contact us through our social Media platform </p>
  			<ul>
  				<li><a>FACEBOOK </a></li>
  				<li><a>GMAIL </a></li>
  				<li><a>TWITTER </a></li>
  				<li><a>INSTAGRAM </a></li>
  			</ul>

  		</div>

  	<p>or you can contact us directly by sending us a message</p>
    <mat-card class="form">
      <h3>Contact Us</h3>
      <mat-form-field>
        <input matInput placeholder="Title">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>


      <div class="button-row">
        <button mat-raised-button color="accent">Submit</button>
      </div>



    </mat-card>


  </div>

  <div class="col-for-sides"></div>



</div>




<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
