<div class="form">



      <mat-form-field>
        <input matInput placeholder="Title">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="demo-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                   [removable]="removable" (remove)="remove(tag)">
            {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable"><i class="far fa-times-circle"></i></mat-icon>
          </mat-chip>
          <input placeholder="Tags"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
      </mat-form-field>







      <h3>Other Settings</h3>










</div>
