

<div class="row">

  <div class="col-for-sides"></div>

  <div class="col-for-page">

    <h3>Attachment of A's solution for xxxxxx</h3>
    <br>

    <mat-card class="file-card">
      <mat-card-header>
        <mat-card-title>filename.js</mat-card-title>
        <mat-card-subtitle>javascript</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <pre><code highlight [textContent]="code" (highlighted)="onHighlight($event)"></code></pre>

          <h4>Highlight response</h4>
          <pre>{{ response | json }}</pre>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card class="file-card">
      <mat-card-header>
        <mat-card-title>filename.js</mat-card-title>
        <mat-card-subtitle>javascript</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <pre><code highlight [textContent]="code" (highlighted)="onHighlight($event)"></code></pre>

          <h4>Highlight response</h4>
          <pre>{{ response | json }}</pre>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="file-card">
      <mat-card-header>
        <mat-card-title>filename.js</mat-card-title>
        <mat-card-subtitle>javascript</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <pre><code highlight [textContent]="code" (highlighted)="onHighlight($event)"></code></pre>

          <h4>Highlight response</h4>
          <pre>{{ response | json }}</pre>
      </mat-card-content>
    </mat-card>




  </div>

  <div class="col-for-sides"></div>



</div>




<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
