


<!-- App component: App Level main html file -->



<html>

<head>

	<!-- cssss -->
	<!-- <link rel="stylesheet" type="text/css" href="styles/theme.css"> -->



	<!-- settings -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- libraries -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

</head>


<body>



	<mat-sidenav-container class="nav-container">
		<mat-sidenav #snav [mode]='over'>
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3lOZW7l5eIEpprFJzpwxn60-nIdr91J33udWAxU300a-7Puyu">
			<button mat-button routerLink="/dashboard">Dashboard</button>
			<button mat-button routerLink="/profile">Profile</button>
			<button mat-button routerLink="/task/5">Smaple Task</button>
		</mat-sidenav>




		<mat-sidenav-content>




			<div class="header">
				<div class="header-outer">
					<div class="header-left">
						<a id="menu-icon"  mat-button (click)="snav.toggle()"><i class="fas fa-bars"></i></a>
						<a href="#">{{title}}</a>
					</div>
					<div class="header-right">
						<a routerLink="/dashboard">Find Tasks</a>
						<a routerLink="/task-add">Post Something</a>

						<a routerLink="/profile">{{username}}</a>
						<a routerLink="/profile"><i class="fas fa-user"></i></a>

					</div>
				</div>
			</div>



			<div class="row">

				<div class="col-15p"></div>
				<div class="col-full col-m-full full">

					<div class="row">





						<div class="col-content col-m-content content">

							<router-outlet></router-outlet>
							<app-messages></app-messages>

						</div>



						<!-- <div class="col-sidebar col-m-sidebar sidebar">

							<nav>
								<a routerLink="/dashboard">Dashboard</a>
								<a routerLink="/heroes">Heroes</a>
								<a routerLink="/profile">Profile</a>
							</nav>

						</div> -->





					</div>

				</div>

				<div class="col-15p"></div>

			</div>



			<div class="row footer">
				<div class="footer">

					<div class="col-15p"></div>

					<div class="col-full col-m-full full">
						<div class="col-3 col-m-3">
							<h3><i class="fas fa-address-card"></i> Contact Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel dui id nibh luctus pharetra. Morbi placerat, turpis
								sit amet interdum ultrices, sapien mauris maximus arcu, non luctus felis risus id lacus. Pellentesque habitant morbi
								tristique.</p>

						</div>
						<div class="col-3 col-m-3">
							<h3><i class="fab fa-amilia"></i> Follow Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel dui id nibh luctus pharetra. Morbi placerat, turpis
								sit amet interdum ultrices, sapien mauris maximus arcu, non luctus felis risus id lacus. Pellentesque habitant morbi
								tristique.</p>

						</div>
						<div class="col-3 col-m-3">
							<h3>Other stuff</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel dui id nibh luctus pharetra. Morbi placerat, turpis
								sit amet interdum ultrices, sapien mauris maximus arcu, non luctus felis risus id lacus. Pellentesque habitant morbi
								tristique.</p>

						</div>
					</div>


					<div class="col-15p"></div>


				</div>




			</div>







		</mat-sidenav-content>
	</mat-sidenav-container>

	<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>





</body>



</html>







<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<!-- <router-outlet></router-outlet>
<app-messages></app-messages> -->


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
