

<nav class="menu">

<a  mat-button  routerLink="/explore">Explore</a>
<a  mat-button  routerLink="/profile/{{userId}}" *ngIf="loggedIn">Profile</a>
<a  mat-button routerLink="/signin" *ngIf="notloggedIn">Sign In</a>

<a  mat-button  routerLink="/task-new" *ngIf="loggedIn">Post a task</a>
<a  mat-button  routerLink="/support">Contact/Support</a>


<!-- <a  mat-button *ngIf="loggedIn" (click)="logout()">Logout</a> -->

</nav>



<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
