

<div class="row">

  <div class="col-for-sides"></div>

  <div class="col-for-page">


    <div>

      <div id="dp-container">
        <img id="profile-img" src="{{profileImgUrl}}"/>

      </div>
      <div id="title-options">
        <div class="title-option" id ="fav-star"><i class="fas fa-user-plus"></i></div>
        <div class="title-option" id ="fav-star"> 685 <i class="fas fa-plus-square"></i></div>
        <mat-divider></mat-divider>

      </div>



      <div class="page-content">


        <p>{{publicName}}</p>

        <a>@{{username}}</a>




          <mat-tab-group>
            <mat-tab label="About">

              <p>{{bio}}<p>



            </mat-tab>
            <mat-tab label="Solutions">

              <div *ngFor="let comment of dicussions">
                {{comment.text}}
                <mat-divider></mat-divider>

              </div>



            </mat-tab>
          </mat-tab-group>






      </div>


    </div>




  </div>

  <div class="col-for-sides"></div>



</div>
