

<div class="row">

  <div class="col-for-sides"></div>

  <div class="col-for-page padding-responsive">


    <div class="row">


      <div class="col-dp dp">
        <!-- <img  src="{{profileImgUrl}}"/> -->

        <cl-image id="profile-img" public-id="{{user.dpImgUrl}}">
          <cl-transformation width="150" height="150" gravity="face" radius="100" effect="sepia" crop="thumb">
          </cl-transformation>

        </cl-image>

      </div>
      <div id="col-info info">






      </div>


    </div>




      <div class="profile-content">

          <p>@{{user.username}}</p>
          <div id="title-options">
            <div class="title-option" id ="fav-star"><i class="fas fa-user-plus"></i></div>
            <div class="title-option" id ="fav-star">{{user.points}} <i class="fas fa-plus-square"></i></div>
            <mat-divider></mat-divider>

          </div>


          <mat-tab-group>
            <mat-tab label="About">
              <markdown ngPreserveWhitespaces>{{user.about}}</markdown>

            </mat-tab>
            <mat-tab label="Assignments">

              <div class="list-item-wrapper" *ngFor="let task of tasks">
                <mat-card class="task-card">
                  <mat-card-header>
                    <div mat-card-avatar>

                      <cl-image public-id="{{task.dpImgUrl}}">
                        <cl-transformation width="40" height="40" gravity="face" radius="100" effect="sepia" crop="thumb">
                        </cl-transformation>



                      </cl-image>


                    </div>
                    <mat-card-title>{{task.title}}<br>by {{task.username}}</mat-card-title>
                  </mat-card-header>

                  <mat-card-content>
                      <markdown ngPreserveWhitespaces>{{task.description}}</markdown>
                        <a routerLink="/task/{{task.id}}">View details</a>
                  </mat-card-content>
                </mat-card>


              </div>


            </mat-tab>
            <mat-tab label="Solutions">




            </mat-tab>

          </mat-tab-group>






      </div>





  </div>
  <app-sidebar class="col-for-sides"></app-sidebar>



</div>
