
<div></div>
<div class ="browseContainer">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile ><a title="Videos" target="_blank" rel="nofollow">
      <i class="fas fa-video big-icon"></i><span><br>Videos</span></a>
    </mat-grid-tile>
    <mat-grid-tile ><a title="Videos" target="_blank" rel="nofollow">
      <i class="fas fa-video big-icon"></i><span><br>Videos</span></a>
    </mat-grid-tile>
    <mat-grid-tile ><a title="Videos" target="_blank" rel="nofollow">
      <i class="fas fa-video big-icon"></i><span><br>Videos</span></a>
    </mat-grid-tile>
    <mat-grid-tile ><a title="Videos" target="_blank" rel="nofollow">
      <i class="fas fa-video big-icon"></i><span><br>Videos</span></a>
    </mat-grid-tile>
  </mat-grid-list>


</div>



<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
